# Use this file to define individuals or teams that are responsible for code in a repository.
# Read more: <https://help.github.com/articles/about-codeowners/>
#
# Order is important: the last matching pattern has the highest precedence

# These owners will be the default owners for everything
*             @cloudposse/engineering @cloudposse/admins

# Cloud Posse admins must review any changes to Makefiles
**/Makefile   @cloudposse/admins
**/Makefile.* @cloudposse/admins

# Cloud Posse admins must review any changes to GitHub actions
.github/workflows/*     @cloudposse/admins


# Cloud Posse admins must review all changes to CODEOWNERS or the mergify or release configuration
.github/.github-update-disabled @cloudposse/admins
.github/auto-release.yml @cloudposse/admins
.github/mergify.yml @cloudposse/admins
.github/CODEOWNERS  @cloudposse/admins
