repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
        exclude: |
            (?x)^(
                modules/cert-manager/cert-manager-issuer/templates/.*.yaml |
                modules/github-actions-runner/runners/actions-runner/chart/templates/.*.yaml |
                modules/echo-server/charts/echo-server/templates/.*.yaml
            )$
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.55.0
    hooks:
      - id: terraform_fmt
      - id: terraform_docs
        args: ['--args=--lockfile=false']
