region = "us-west-2"
zone_name="staging.example.io"
legacy_account_assume_role_arn = "arn:aws:iam::XXXXXXXXXXXX:role/cross-account-vpc-peering"
legacy_account_region = "us-east-1"
legacy_account_vpc_id = "vpc-xxxxxxxx"
