type: "repository" # can be either 'organization' or 'repository'
dind_enabled: true # If `true`, a Docker sidecar container will be deployed
# To run Docker in Docker (dind), change image from summerwind/actions-runner to summerwind/actions-runner-dind
image: summerwind/actions-runner-dind
node_selector:
  kubernetes.io/os: "linux"
  kubernetes.io/arch: "amd64"
scope: "example/app"
scale_down_delay_seconds: 300
min_replicas: 1
max_replicas: 2
busy_metrics:
  scale_up_threshold: 0.75
  scale_down_threshold: 0.25
  scale_up_factor: 2
  scale_down_factor: 0.5
resources:
  limits:
    cpu: 1.5
    memory: 4Gi
    ephemeral_storage: "10Gi"
  requests:
    cpu: 0.5
    memory: 1Gi
storage: "10Gi"
pvc_enabled: false
webhook_driven_scaling_enabled: false
webhook_startup_timeout: "30m"
pull_driven_scaling_enabled: false
labels:
  - "Ubuntu"
  - "core-example"
