# Write the github_oauth_token to SSM parameter store.
# chamber write atlantis github_oauth_token "supersecret"

atlantis_enabled = "true"
atlantis_branch = "master"
atlantis_repo_name = "testing.example.co"
atlantis_repo_owner = "example"
atlantis_repo_whitelist = ["github.com/example/*"]

atlantis_allow_repo_config = "true"

atlantis_gh_user = "examplebot"
atlantis_gh_team_whitelist = "engineering:plan,devops:*"

atlantis_wake_word = "atlantis"


# https://www.terraform.io/docs/providers/aws/r/lb_listener_rule.html
atlantis_authentication_action = {
  type = "authenticate-oidc"

  authenticate_oidc = [{
    # Use this URL to create a Google OAuth 2.0 Client and obtain the Client ID and Client Secret: https://console.developers.google.com/apis/credentials
    client_id     = "XXXXXXXXXXXXXXXXXXXX"
    client_secret = "XXXXXXXXXXXX_XXXXXX"

    # Use this URL to get Google Auth endpoints: https://accounts.google.com/.well-known/openid-configuration
    issuer                 = "https://accounts.google.com"
    authorization_endpoint = "https://accounts.google.com/o/oauth2/v2/auth"
    token_endpoint         = "https://oauth2.googleapis.com/token"
    user_info_endpoint     = "https://openidconnect.googleapis.com/v1/userinfo"
  }]
}
