# Write atlantis_gh_token to SSM parameter store:
# chamber write atlantis atlantis_gh_token "....."

# Write github_webhooks_token to SSM parameter store:
# chamber write atlantis github_webhooks_token "....."

# When using Cognito authentication (atlantis_authentication_type = COGNITO), write the following values to SSM parameter store:
# chamber write atlantis atlantis_cognito_user_pool_arn "....."
# chamber write atlantis atlantis_cognito_user_pool_client_id "....."
# chamber write atlantis atlantis_cognito_user_pool_domain "....."

# When using OIDC authentication (atlantis_authentication_type = OIDC), write the following values to SSM parameter store:
# chamber write atlantis atlantis_oidc_client_id "....."
# chamber write atlantis atlantis_oidc_client_secret "....."

atlantis_enabled = true

atlantis_branch = "master"

atlantis_repo_name = "testing.example.co"

atlantis_repo_owner = "example"

atlantis_repo_whitelist = ["github.com/example/*"]

atlantis_repo_config = "/conf/ecs/atlantis-repo-config.yaml"

atlantis_gh_user = "examplebot"

atlantis_gh_team_whitelist = "engineering:plan,devops:*"

atlantis_wake_word = "atlantis"

atlantis_authentication_type = "OIDC"

atlantis_oidc_issuer = "https://accounts.google.com"

atlantis_oidc_authorization_endpoint = "https://accounts.google.com/o/oauth2/v2/auth"

atlantis_oidc_token_endpoint = "https://oauth2.googleapis.com/token"

atlantis_oidc_user_info_endpoint = "https://openidconnect.googleapis.com/v1/userinfo"

atlantis_alb_ingress_unauthenticated_paths = ["/events"]

atlantis_alb_ingress_listener_unauthenticated_priority = 50

atlantis_alb_ingress_authenticated_paths = ["/*"]

atlantis_alb_ingress_listener_authenticated_priority = 100

availability_zones=["us-west-2a", "us-west-2b"]

nat_instance_enabled = true

nat_gateway_enabled = false
